.detail-container {
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-page {
  flex-direction: row;
  /* flex-grow: 1; */
  width: 800px;
  height: 100%;
  padding: 32px;
  background: white
}
.detail-title {
  font-size: 30px;
  padding: 20px 15px;
  font-weight: bold;
}
.detail-content p{
  font-size: 14px;
  line-height: 22px;
  padding: 8px;
}
.detail-content strong {
  font-weight: bold;
}
.detail-img {
  display: block;
  width: 100%;
  height: 300px;
  background: grey;
}